*.iml
.gradle
/local.properties
/.idea/misc.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches/*
/.idea/dictionaries/*
/.idea/navEditor.xml
/.idea/deploymentTargetDropDown.xml
projectFilesBackup
.DS_Store
/build
/captures
.externalNativeBuild
